@import 'https://fonts.googleapis.com/css?family=Economica|Oleo+Script|Kite+One|Expletus+Sans';

p {
  color : ;

}
h1 {
  text-align: center;
  color: ;
  font-family:Expletus Sans;
  background-color: silver;
  margin: 4%;
}
h2 {
  text-align: center;
  background-color: silver;
  margin: auto;
  display: block;
}
nav {
  text-align: center;
  background-color:  #C0B0B0;
  width: 200;
  margin-right: auto;
}
#header_2 {
  display: block;
}
#first_block {
  background-color: silver;
  margin-right: auto;
  text-align: left;
  width: 80%;
  border-style:
  display: block;
  font-family: Economica;
  font-size: 19px;
}
#ian {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

}

#second_block {
  background-color: #C196D1;
  margin-left: auto;
  width: 90%;
  font-family: Kite One;
}

body {
  background-image: url(https://mayabrown96.files.wordpress.com/2014/01/dance-studio.jpg);

}
#sources {
  text-align: center;
}
